@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}
  
::-webkit-scrollbar-track {
    background: #1e1e24;
}

::-webkit-scrollbar-thumb {
    background: #ff9e64;
}

body{
    overflow-x:  hidden;
}

